body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('z.jpg');
    background-size: cover; 
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fixed background */
}

.navbar {
    margin-bottom: 20px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ddd !important;
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background for content */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
}

.container h1,
.container p {
    color: #333; /* Text color */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons a {
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ddd;
}
